{{> nHeader }}

<div class="notes_wrapper">
  <div class="welcome_div">
    <img src="../images/realisticLogo.png">
    Welcome to Realistic. A website made by Gamer's for Gamer's.
  </div>
</div>

{{> footer }}
